{
  "singleQuote": true,
  "semi": true,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^(react/(.*)$)|^(react$)", "", "<THIRD_PARTY_MODULES>", "", "^@/(.*)$", "", "^~/(.*)$", "", "^[./]"]
}
