.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.2s ease-in forwards;

  &.hidden {
    display: none;
  }

  .modal-portal-container-position {
    position: absolute;
    top: 0;
    left: 0;

    .modal-portal-container-scale {
      animation: scaleUpAndDown 1.5s ease-in-out forwards;

      .modal-portal {
        animation: spin 1s linear infinite;
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
        background-image: url('../../images/portal.png');
      }
    }
  }

  .modal {
    position: absolute;
    background-color: var(--background);
    width: 600px;
    height: 700px;
    opacity: 0;
    padding: 1rem;
    border-radius: 1rem;
    border: dashed 3px orange;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUpAndDown {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25%,
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
